@import 'tailwindcss';
@import 'font-awesome/css/font-awesome.min.css';
  
* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family:'Poppins';
    font-size: 14px;
    font-weight: 400;
    @apply bg-slate-950 text-white;
  }
  .active{
    @apply text-violet-500
  }

  ul.active{
    @apply bg-gray-200 w-full text-center text-slate-800;
  }
}

